@model TP4.MVC.Models.CategoriesView

@{
    ViewBag.Title = "Categories Page";
}

<!DOCTYPE html>

<h1>Vista para Agregar</h1>
    
    
@using (Html.BeginForm("Insert", "Categories", FormMethod.Post))
{
    <label>Nombre: </label> @Html.TextBoxFor(c => c.CategoryName)<br> 
    <label>Descripción: </label> @Html.TextBoxFor(c => c.Description)<br> 
    <input type="submit" class="btn btn-success" value="Insertar" />
}
    
